<!DOCTYPE html>
<html lang="en">
<head>
  <title>Youtube Downloader</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'youtube/style.css' %}">
  


</head>
<body>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Busqueda por Nombre</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="/">Búsqueda por Nombre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/playlist">Búsqueda Playlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/downloads">Lista de Descargas</a>
        </li>  
      </ul>
    </div>  
  </nav>


<div class="container">
  
  {% if name %}
  <div class="mt-2">Resultados de  {{name}}</div>
  {% endif %}

  
  <form action="/" method="post" class="form-inline form-index mt-2">
	{% csrf_token %} 
      <label class="mr-2 mb-2" for="name">Search:</label>
      <input class="form-control mr-2 mb-2" id="name" placeholder="Video a buscar" name="name">
      <button type="submit" class="btn btn-primary mr-2 mb-2">Submit</button>    
  </form>
  <select class="form-control" name="genre">
    <option value="select" selected="selected" disabled>Seleccione Género donde guardar</option>
    <option value="pop">Pop</option>
    <option value="baladas">Baladas</option>
    <option value="latino">Latino</option>      
    <option value="rock">Rock</option>
    <option value="salsa">Salsa</option>
  </select>
   <table class="ml-auto mr-auto mt-2">
   
   {% for key, values in dict.items %}

    {% csrf_token %} 
    <tr class="{{key}}">
        <input type="hidden" name="key" value="{{ key }}">
        <input type="hidden" name="name" value="{{ name }}">
        <input type="hidden" name="genre">

        <td><a target="_blank" href={{"http://youtube.com/watch?v=" |add:key}}>{{values}}</a></td>
        <td class="download {{values}}"><button type="submit" key="{{key}}" class="btn btn-primary download">Descargar</button></td>    
  
    </tr>

   {% endfor %}
  </table>


</div>
<script>
  $('button.btn.btn-primary.download').click(function() {
    var key=$(this).attr("key");
    var tr = $("tr."+key); 
    var name= $($(tr).find('input[name="name"]')[0]).attr("value");
    var genre= $($(tr).find('input[name="genre"]')[0]).attr("value");
    
    var button =$(this);
    if( typeof genre=="undefined" || genre=="select"){
      alert( "Seleccione género donde guardar");
      return false;
    }
    else{
      let csrftoken = '{{ csrf_token }}'
      $.ajax({
        method: "POST",
        headers:{'X-CSRFToken':csrftoken},
        url: "download",
        data: { key:key, name: name, genre: genre }
      })
        .done(function( msg ) {
          alert( "Descargando "+name );
          $(button).prop('disabled', true);
          $(button).text("Descargando");
        });
    }
  });

  $('select').on('click', function() {
    var genre=this.value;
    $('input[name="genre"]').each(function() {
      $(this).attr("value",genre);
    });    
  });


</script>

</body>
</html>
